{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

<div class="row row-cols-auto text-center">


    {% for movie in user_movies %}

    <div onclick="window.location='/movie/{{movie[0].id}}/';" class="col mb-3"
        style="max-width: 180px; cursor: pointer;">
        <img src="{{movie[0].image}}" alt="{{movie.title}}" width="100%" class="rounded">
        <p>{{movie[0].title}}</p>
        <p>({{movie[0].year}})</p>
        <h5 class="m-2">
            <span class="badge bg-warning text-dark">{{movie[0].imdb_rating}}</span>
            &nbsp
            <span class="badge bg-primary text-dark">{{movie[1].rating}}</span>
        </h5>
    </div>

    {% endfor %}
</div>
{% endblock %}